////////////////////////////////////////////
/////////RESPONSIVE MANAGER
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800px
  }
}

////////////////////////////////////////////
/////////FLEX CENTER
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

////////////////////////////////////////////
/////////ADJUST BACKGROUND
@mixin bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

////////////////////////////////////////////
/////////BOX SHADOW
@mixin box-shadow {
  box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
  -webkit-box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
  -moz-box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
  border-radius: 1rem;
}
