//BODY
$body-col: #323c51;
//CONTACT
$contact-col: #323c51;
//NAVBAR
$navbar-bg: #fff;
$navbar-col: #323c51;
$navbar-mob-bg: #fff;
//MAIN HEADING
$primary-heading-col: #1252c2;
$primary-heading-sub-col: #232e45;
$heading-animation-col: #85cc72;
//CALCULATOR
$calculator-bg: #f5f9fc;
$calculator-active: #00c853;
$calculator-submit: #1252c2;
//SECONDARY
$primary-secondary-col: #232e45;
//BUTTONS
$button-primary-col: #fff;
$button-primary-bg: #00c853;
$button-secondary-col: #fff;
$button-secondary-bg: #1252c2;
//FOOTER
$footer-bg: #000;
$footer-col: #cdcdcd;
$footer-active: #e90848;
