//COLOR SCHEME
$body-col: #323c51;
$primary-col: #1252c2;
$secondary-col: #00c853;
//NAVBAR
$navbar-bg: #fff;
$navbar-col: $body-col;
$navbar-mob-bg: #fff;
$navbar-active: $secondary-col;
//CALCULATOR
$calculator-bg: #f5f9fc;
//BUTTONS
$button-primary-col: #fff;
$button-primary-bg: $primary-col;
$button-secondary-col: #fff;
$button-secondary-bg: $secondary-col;
