.discount {
  @include bg-img;
  background-image: url("../../images/discount_banner.png");
  h2 {
    color: $primary-col;
    span {
      display: block;
      color: $body-col;
      span {
        text-transform: none;
      }
    }
  }
}
