.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  margin-top: -3rem;
  @include respond(tab-land) {
    margin-top: 6rem;
  }
  & > * {
    flex: 1;
  }
  &__main {
    @include respond(phone) {
      text-align: center;
    }
  }
}
