.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 1rem 10rem;
  @include respond(tab-land) {
    padding: 1rem 6rem;
  }
  width: 100%;
  z-index: 2;
  &--scroll {
    background-color: $navbar-bg;
    top: 0;
  }
  ul {
    @include flex-center;
    @include respond(tab-land) {
      flex-direction: column;
      position: absolute;
      top: 7.3rem;
      right: 0rem;
      width: 100%;
      max-height: 0;
      overflow-y: hidden;
      background-color: $navbar-mob-bg;
      transition: all 0.5s ease-in-out;
    }
    li {
      list-style: none;
      padding: 2rem;
      a,
      a:visited,
      a:link {
        text-decoration: none;
        color: $navbar-col;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
      }
      a:hover {
        color: $navbar-active;
      }
      i {
        font-size: 2rem;
      }
    }
  }
  &__primary {
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid #323c51;
  }
  &__primary:hover {
    border: 2px solid $navbar-active;
  }

  //FUNCTIONALITY
  &__checkbox {
    display: none;
  }
  &__checkbox:checked ~ ul {
    max-height: 94vh;
    opacity: 1;
    visibility: visible;
  }
  //ICON
  &__icon {
    position: relative;
    cursor: pointer;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $navbar-col;
      display: none;
      @include respond(tab-land) {
        display: inline-block;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__checkbox:checked + &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
