.order {
  @include bg-img;
  background-image: url("../../images/order_banner.jpg");
  background-attachment: fixed;
  &__main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    @include respond(phone) {
      flex-direction: column;
    }
    & > :nth-child(odd) {
      flex: 2;
    }
    & > :nth-child(even) {
      flex: 1;
      margin: 0;
      align-self: center;
      @include respond(phone) {
        display: none;
      }
    }
    .fa-long-arrow-right {
      font-size: 4rem;
    }
    &__step {
      @include respond(phone) {
        margin-bottom: 4rem;
      }
      i {
        border-radius: 50%;
        border: 1px solid $primary-col;
        padding: 2rem;
        background-color: lighten($primary-col, 50);
        font-size: 5rem;
        transition: all 0.5s ease-in-out;
      }
      i:hover {
        color: $secondary-col;
        border-color: $secondary-col;
      }
      h3 {
        padding: 1rem 0;
      }
      p {
        @include respond(phone) {
          padding: 0 6rem;
        }
      }
    }
  }
}
