.premium {
  @include flex-center;
  text-align: center;
  flex-wrap: wrap;
  & > :first-child {
    @include respond(phone) {
      padding-bottom: 3rem;
    }
  }
  & > * {
    flex: 1;
  }
  &__icon {
    height: 30rem;
  }
  h3 {
    margin: 2rem 0;
  }
  p {
    padding: 0 10rem;
    @include respond(tab-land) {
      padding: 0 5rem;
    }
  }
}
