.why {
  @include bg-img;
  margin-top: 4rem;
  margin-bottom: 0;
  background-image: url("../../images//why_banner.png");
  background-attachment: fixed;
  color: #fff;
  &__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem 1rem;
    @include respond(phone) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    h4 {
      display: inline-block;
    }
    i,
    h3 {
      font-size: 2.5rem;
      font-weight: 500;
      @include respond(tab-land) {
        font-size: 2rem;
      }
    }
    h3 {
      display: inline-block;
    }
    i {
      color: $secondary-col;
    }
    p {
      padding: 1rem 0;
    }
  }
}
